.main-container {
  padding: 2rem;

  h1 {
    font-weight: 700;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.left-column {
  grid-area: 1 / 1 / 6 / 2;
  // background: orange;
}
.center-column {
  grid-area: 1 / 2 / 6 / 5;
  background: yellow;
}
.right-column {
  grid-area: 1 / 5 / 6 / 6;
  background: pink;
}

// @media (min-width: 1280px) {
//   .main-container {
//   }
// }
