#search-container {
  input {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    width: 100%;
  }
}

.search-selection {
  margin-top: -1rem;
  padding: 1.5rem 1rem 1rem 1rem;
  width: 234px;
  border: 1px solid black;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #fff;

  li {
    margin: 1rem 0;
    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 1000px) {
  #search-container {
    input {
      width: 300px;
    }
  }
}
