#tables-container {
  display: flex;
  flex-direction: column;
}

.va-table-responsive {
  margin-bottom: 1rem;
  width: 100%;

  p {
    font-size: 1rem;
  }
}

.empty-portfolio {
  width: 100%;
}

.table-col-header {
  display: flex;
  align-items: center;

  h2 {
    margin-right: 10px;
  }
}

.btn-remove-coin {
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 0.8rem;

  &:hover {
    background: #f8f8f8;
  }
}

.table-columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.coin-table {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 8px;
}

.td-date,
.td-amount,
.td-price {
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.8rem;
  }
}

.td-total {
  padding-top: 1rem !important;
  font-size: 1.2rem;
}

.td-button {
  button {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .coin-table {
    width: 100%;
  }
}
