#tables-container {
  display: flex;
  flex-direction: column;
}

.va-table-responsive {
  margin-bottom: 1rem;
  width: 100%;

  p {
    font-size: 1rem;
  }
}

.table-columns {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.coin-table {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 8px;
}
